[Unit]
Description=Intel XPU SmarTune Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=__SMARTUNE_ROOT__
ExecStart=__SMARTUNE_ROOT__/start_smartune_service.sh
Restart=on-failure
RestartSec=5
KillSignal=SIGINT
TimeoutStopSec=20
StandardOutput=append:__SMARTUNE_ROOT__/logs/smartune.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
